.normalForm-container{
    width: 30rem;
    margin: auto;
    padding: 2rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    form{
        display: flex;
        flex-direction: column;
        /* gap: 0.5rem; */
        /* align-items: flex-start;  */
        justify-content: center;
        input, button{
            margin: 0.3rem;
            padding: 0.75rem;
            border-radius: 0.5rem;
        }
        button{
            background-color: red;
            font-weight: bolder;
            color: white;
            /* height: 2rem;
            width: 5rem; */
            border: 1px solid none;
            margin: auto;
            text-align: center;
            cursor: pointer;
        }
    }
}